/* COLORS */

$color_purple : #3927b0;
$color_purple_hover : #c36bd6;
$color_purple_opacity : rgba(#6b14cd, 0.8);
$color_purple_opacity_2 : rgba(107, 20, 205, 0.2);
$color_black_opacity : rgba(0,0,0,0.8);
$color_black_opacity_full : rgba(0,0,0,0.6);
$color_white_opacity : rgba(255,255,255, 0.8);
$color_white_opacity_up : rgba(255,255,255, 0.4);
$color_gray_opacity : rgba(gray, 0.8);
$color_black_footer : #1c1c1b;
$color_white_line : #3c3c3b;
