.container-purple {
    @include container-background($color_purple, $color_purple_hover);
}

.form-nickname {

  &-title {
    text-align: center;
    color: $color_white_opacity;
    font-size: 20px;
  }

  &-text {
    display: block;
    margin : 0 auto;
    width: 250px;
    height: 40px;
    background: $color_white_opacity_up;
    color: white;
    border: 0;
    padding-left: 10px;
  }

}

input[type="text"].form-nickname-text::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: white;
  padding-left: 10px;
}
input[type="text"].form-nickname-text:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    white;
  opacity:  1;
  padding-left: 10px;
}
input[type="text"].form-nickname-text::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    white;
  opacity:  1;
  padding-left: 10px;
}
input[type="text"].form-nickname-text:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:    white;
  padding-left: 10px;
}

.btn-entrar {
  display: block;
  width: 250px;
  height: 40px;
  color: $color_purple;
  margin: 15px auto 0;
  background: transparent;
  border-radius: 20px;
  color: white;
  border: solid 1px;

}

.message-validation {
  display: block;
  margin : 0 auto;
  width: 250px;
  height: 40px;
  color: white;
}

.img-logo {
  display: block;
  margin: 0 auto;
}

.container-transparent {
  width: 100%;
  height: 200px;
  background: transparent;
}

