
$green: rgba(255,255,255, 0.4);
$blue: #94C2ED;
$orange: #E38968;
$gray: #92959E;

*, *:before, *:after {
  box-sizing: border-box;
}
ul li{
    list-style: none;
}


.container {
  margin: 0 auto;
  border-radius: 5px;
}

.people-list {
  width: 260px;
  max-width: 260px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: -260px;
  background: #3b28b1;
  z-index: 2;
  transition: .3s all ease;
  
  &.open{
    left: 0px;
  }
  .close-menu{
    font-size: 20px;
    color: white;
    float: right;
    padding: 5px;
  }

  .search {
    padding: 20px;
  }
  
  input {
    border-radius: 3px;
    border: none;
    padding: 14px;
    color: white;
    background: #6A6C75;
    width: 90%;
    font-size: 14px;
  }
  
  .fa-search {
    position: relative;
    left: -25px;
  }
  
  ul {
    padding: 20px;
    height: 85vh;
    overflow-y: scroll;
    li {
      margin-bottom: 2px;
    }
  }
  
  img {
    float: left;
  }
  
  .about {
    float: left;
    margin-top: 8px;
  }
  
  .about {
    padding-left: 8px;
  }
  
  .status {
    color: $gray;
  }
  
}

.chat {
  width: 100%;

  .img-gif{
    img{
      width: 100%;
      height: 150px;
    }
  }
  
  .chat-header {
    padding: 5px;
    height: 60px;
    
    .chat-about {
      float: left;
      padding-left: 10px;
      margin-top: 6px;
    }
    
    .chat-with {
      font-weight: bold;
      font-size: 16px;
      color:white;
      margin-top: 10px;
    }
    
    .chat-num-messages {
      color: $gray;
    }

    .chat-menu{
      float: left;
      color: #D8DADF;
      font-size: 20px;
      margin: 12px 20px 0 20px;
    }

  }
  
  .chat-history {
    padding: 5px 30px;
    overflow-y: scroll;
    height: calc(100vh - 180px);
    
    .message-data {
      margin-bottom: 15px;
      color: white;
    }
    
    .message-data-time {
      color: lighten($gray, 8%);
      padding-left: 6px;
    }
    
    .message {      
      color: white;
      padding: 10px;
      line-height: 26px;
      font-size: 16px;
      border-radius: 7px;
      margin-bottom: 15px;
      width: 100%;
      position: relative;
      max-width: 300px;
      &:after {
        bottom: 100%;
        left: 7%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-bottom-color: $green;
        border-width: 10px;
        margin-left: -10px;
      }
    }
    
    .my-message {
      background: $green;
    }
    
    .other-message {
      background: $blue;
      
      &:after {
        border-bottom-color: $blue;
        left: 93%;
      }
    }
    
  }
  
  .chat-message {
    padding: 10px 30px;
    position: absolute;
    bottom: 0;
    height: 115px;
    background: rgba(255,255,255,.4);
    width: 100%;
    textarea {
      width: 100%;
      border: none;
      padding: 10px 20px;
      font: 14px/22px "Lato", Arial, sans-serif;
      margin-bottom: 5px;
      border-radius: 5px;
      resize: none;
      
    }
    
    .fa-file-o, .fa-file-image-o {
      font-size: 16px;
      color: #3b28b1;
      cursor: pointer;
      
    }
    
    button {
      float: right;
      color: #3b28b1;
      font-size: 12px;
      border: none;
      cursor: pointer;
      font-weight: bold;
      background: #F2F5F8;
      padding: 5px 10px;
      &:hover {
        color: darken($blue, 7%);
      }
    }
  }
}

.online, .offline, .me {
    margin-right: 3px;
    font-size: 10px;
  }
  
.online {
  color: $green;
}
  
.offline {
  color: $orange;
}

.me {
  color: $blue;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

/* -   - - - - - -- - */

.avatar-new {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: url("https://cdn3.iconfinder.com/data/icons/glyph/227/people-Talk-512.png");
}

.container-chat {
  @include container-background($color_purple, $color_purple_hover);
}

.close-session {

  display: block;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  margin: 30px;
  padding: 5px;

  &:hover {
    cursor: pointer;
    background: rgba(255,255,255, 0.2);
  }

}

.name-user-chat {
  color: white !important;
  margin-top: 10px;
}

.contact-li-user {

  border: solid 1px white;
  @include border-radius(5px);

}
