<div class="container-chat">
    <div class="container clearfix">
        <div class="people-list" id="people-list" ng-class="chatCtrl.menu">
            <div class="close-menu" ng-click="chatCtrl.closeMenu()"><i class="fa fa-times" aria-hidden="true"></i></div>

            <div class="close-session" ng-click="chatCtrl.logOut()">
                Salir
            </div>
            <ul class="list">
                <li class="clearfix contact-li-user" ng-repeat="user in chatCtrl.users">
                    <img src="https://s3-us-west-1.amazonaws.com/glanz-node/Contacts+Filled-50.png" alt="avatar"/>
                    <div class="about">
                        <div class="name-user-chat">{{user.nick}}</div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="chat">
            <div class="chat-header">
                <div class="chat-menu" ng-click="chatCtrl.openMenu()">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </div>

                <div class="chat-about">
                    <div class="chat-with">Chat pragma</div>
                </div>
            </div>
            <!-- end chat-header -->

            <div class="chat-history" scroll-to-bottom="chatCtrl.chats">
                <ul>

                    <li ng-repeat="chat in chatCtrl.chats" class="chats">
                        <div class="message-data">
                            <span class="message-data-name"><i class="fa fa-circle online"></i> {{ chat.nick }}</span>
                        </div>
                        <div class="message my-message">
                            <div ng-if="!chat.gif">{{ chat.message }}</div>
                            <div ng-if="chat.gif" class="img-gif"><img src="{{ chat.gif }}" alt=""></div>
                        </div>
                    </li>

                </ul>

            </div>
            <!-- end chat-history -->

            <div class="chat-message">
                <textarea name="message-to-send" ng-model="chatCtrl.message" placeholder="Escribir mensaje" rows="2"
                          dl-enter-key="chatCtrl.newMessage()"></textarea>

                <i class="fa fa-file-image-o gif" ng-click="chatCtrl.sendgif()"> Gif</i>

                <button ng-click="chatCtrl.newMessage()">Enviar</button>

            </div>
            <!-- end chat-message -->

        </div>
        <!-- end chat -->

    </div>
    <!-- end container -->

</div>
